version: "3.9"

services:
  proxy:
    image: tomiwa97/kongi:20233372120 
    container_name: kongi
    ports:
      - "9000:9000"      
      - "9100:9100"        
    volumes:
      - ./config.yml:/config.yml
    command: ["/kongi", "/config.yml"]
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - proxy
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - monitoring

networks:
  monitoring: